.badge-core
  @apply px-1 py-0 text-xs text-main-text border border-main-border !important

.badge-state
  @apply text-white font-semibold !important

.badge-active
  @apply bg-green-500

.badge-closed
  @apply bg-purple-500
