@import "theme.styl";
@import "scrollbar.styl";
@import "panel.styl";
@import "markdown.styl";
@import "../fonts/HelveticaNowDisplay/stylesheet.css";

.content
  @apply antialiased leading-normal text-main-text font-medium text-base
  font-family Helvetica Now Display,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;

h1, h2, h3, h4, h5, h6
  @apply text-main-heading font-semibold

.badge-core
  @apply px-1 rounded-full border border-main-border text-xs text-main-text

.badge-state
  @apply bg-purple-500 rounded-full px-2 py-1 text-sm text-white font-semibold
