.markdown
  h1
    @apply text-2xl font-semibold

  h2
    @apply text-xl font-semibold

  h3
    @apply text-lg font-semibold

  h4
    @apply text-lg font-semibold

  h5
    @apply text-lg font-semibold

  h6
    @apply text-lg font-semibold

  p
    @apply text-lg font-medium
