.light
  //--main-primary #0657f9
  --main-primary #393939
  --main-bg #fff
  --main-text #586069
  --main-link #111
  --main-heading #111
  --main-border #d1d5da
  --main-block #ff
  --main-blockText #111
  --main-progress #0657f9
  --main-hover #b9b9b9

.dark
  --main-primary #393939
  --main-bg #393939
  --main-text #fff
  --main-link #fff
  --main-heading #3DE4E4
  --main-border #656565
  --main-block #4b5050
  --main-blockText #fff
  --main-progress #3DE4E4
  --main-hover #707070
