@import "tailwindcss/base";
@import "tailwindcss/components";

@import "theme.styl";
@import "scrollbar.styl";
@import "panel.styl";
@import "badge.styl";
@import "markdown.styl";

@import "tailwindcss/utilities";

@import "../fonts/HelveticaNowDisplay/stylesheet.css";

body
  @apply bg-main-bg

.content
  @apply antialiased leading-normal text-main-text font-medium text-base
  font-family Helvetica Now Display,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;

h1, h2, h3, h4, h5, h6
  @apply text-main-heading font-semibold
